<app-add-department (newDept)="addDept($event)"></app-add-department>
<div class="table-responsive">
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let item of departments">
        <td scope="row">{{ item.id }}</td>
        <td>{{ item.Name }}</td>
        <td>{{ item.Location }}</td>
        <td>
          <button (click)="showDetails(item.id)">Details</button>
          <button (click)="sendEditDepartment(item.id)">Edit</button>
          <button (click)="removeDept(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-department-details
    [deptDetails]="deptDetails"
    *ngIf="detailsFlag"
    (hideOutput)="hideDetails()"
  ></app-department-details>
</div>
<app-edit-department
  [dept]="deptToEdit"
  (editDept)="editDept($event)"
></app-edit-department>
